{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}" defer></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}" defer></script>
    <link rel="icon" href="{% static 'img/favicon.png'%}" type="image/x-icon" style="width: 10%;">
    {% block title%}
    <title>Mangekyou</title>
    {% endblock %}
</head>
<body>
    {% block navegacao %}
    <ui id="navlinks" class="nav justify-content-center bg-dark">
        <li class="nav-item mt-3 mb-3">
            <img src="{% static 'img/madara_nav.png'%}" style="width: 40%;" alt="nav_img" ></img>
        </li>
        <li class="nav-item mt-3">
            <button type="button" class="btn btn-dark rounded">
                <a id="home" href="{% url 'index' %}" class="nav-link active text-light" style="font-size: 1.5em;">Home</a>
            </button>
        </li>
        <li class="nav-item mt-3">
            <button type="button" class="btn btn-dark  rounded">
                <a href="{% url 'projects' %}" class="nav-link text-light" style="font-size: 1.5em;">Projects</a>
            </button>
        </li>
        <li class="nav-item mt-3">
            <button type="button" class="btn btn-dark  rounded">
                <a href="{% url 'budget' %}" class="nav-link text-light" style="font-size: 1.5em;">Budget</a>
            </button>
        </li>
        <li class="nav-item mt-3">
            <button type="button" class="btn btn-dark  rounded">
                <a href="{% url 'about' %}" class="nav-link text-light" style="font-size: 1.5em;">About</a>
            </button>
        </li>
    </ui>
    {% endblock%}

    {% block conteudo %}   
    {% endblock %}



    {% block mylinks %}
    <div id="mylinks" class="container-fluid p-3 bg-dark">
        <div class="row justify-content-around text-light mb-2">
            <div class="col-auto">links</div>
            <div class="col-auto">links</div>
            <div class="col-auto">links</div>
        </div>
        <div class="row justify-content-around text-light mb-2">
            <div class="col-auto">links</div>
            <div class="col-auto">links</div>
            <div class="col-auto">links</div>
        </div>
        <div class="row justify-content-around text-light mb-2">
            <div class="col-auto">links</div>
            <div class="col-auto">links</div>
            <div class="col-auto">links</div>
        </div>
    </div>
    {% endblock %}


    {% block rodape %}
    <div id="footerbar" class="container-fluid text-light bg-dark p-3">
        <div class="row justify-content-center">
            <div class="col-auto">
                <img src="{% static 'img/madara_nav.png'%}" alt="madara_footer" style="width: 30%;">
            </div>
            <div class="col-auto text-bg-dark mt-2">
                &copy; 2024
            </div>
        </div>
    </div>
    {% endblock %}
</body>
</html>